body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    vertical-align: baseline;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    /* line-height: 1.5; */
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

figure {
    margin-bottom: 0 !important;
}

a {
    cursor: pointer;
    color: rgb(48, 47, 56) !important;
    transition: all 0.1s ease 0s;
}

a:hover {
    text-decoration: none !important;
}

header {
    position: relative;
    width: 100%;
    height: 115px;
}

.header {
    position: relative;
    width: 90%;
    height: 100%;
    /* max-width: 1440px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#navbar-links,
aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    margin-left: 40px;
}

/* aside:last-of-type {
    margin-left: 0;
    position: absolute;
    right: 0;
} */

a.nav-links {
    display: block;
}

p.p-links:hover {
    border-bottom: 2px solid #fcd232;
    margin-bottom: -2px;
}

.active-link {
    border-bottom: 2px solid #fcd232; 
}

p.p-links {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 3px;
}

.p-button,
.send-btn {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 12px 18px;
    background-color: rgb(48, 47, 56) !important;
    color: #fcd232 !important;
    box-shadow: 0px 10px 20px 0px rgba(248, 213, 213, 0.15);
    border-radius: 5px;
}

i.fa-plus,
i.fa-arrow-right {
    font-weight: 200;
    margin-right: 8px;
    line-height: 1.5;
}

/* Burger menu  */

.navbar-menu {
    display: none;
}


/* Drop Header Menu  */

header.drop-header {
    display: none;
    text-align: center;
    height: auto;
    background-color: #202020;
}

ul.drop-nav-menu {
    list-style: none;
    margin-bottom: 0;
    padding: 2%;
}

ul.drop-nav-menu li {
    margin: 2rem;
}


.drop-links>.d-links {
    font-weight: bold;
    font-size: 16px !important;
    padding: 3px;
    color: #F5F5F5;
}

p.d-links {
    display: inline-block;
    margin-bottom: 0;
}

.d-links:active {
    border-bottom: 2px solid #fcd232;
    margin-bottom: -2px;
}

.drop-p-button {
    display: inline-block;
    background-color: #fcd232;
    color: #202020;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 12px 18px;
    border-radius: 5px;
}

.drop-p-button i {
    font-weight: 600;
}


/* Modal  */

.modal-dialog {
    max-width: 650px !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-header>h4 {
    font-weight: bold;
}

.modal-body label {
    font-size: 14px;
    font-weight: 800;
}

.form-group {
    position: relative;
}

.close {
    opacity: 1 !important;
}

.close:hover {
    opacity: 0.5 !important;
}

small {
    color: #ff1300;
    position: absolute;
    right: 0;
}

.off-btn {
    font-weight: bold !important;
    margin-right: 1rem;
}

.off-btn,
.send-btn {
    float: right;
}

/* First section Calendar Heading  */

.calendar-heading,
.w-days,
.m-numbers {
    position: relative;
    display: flex;
    padding-top: 2%;
    line-height: 1.2;
    padding-left: 5% !important;
    padding-right: 5% !important;
}

.m-numbers {
    margin-bottom: 5%;
}

.col-lg-4,
.col-md-6,
.col-sm-12,
.col-xs-12 {
    margin-bottom: 30px;
}

.left-heading {
    width: 50%;
}

.left-heading>h1 {
    font-size: 55px;
    font-weight: bolder;
}

.right-counter {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

span.month-year {
    font-size: 25px;
    font-weight: 700;
    margin-left: 2rem;
    margin-right: 2rem;
    vertical-align: middle;

}

.round-arrow {
    line-height: 1.5 !important;
    border-radius: 50% !important;
    padding: 0.40rem 0.80rem !important;
    border: 2px solid rgb(48, 47, 56) !important;
    /* position: absolute;
    right: 1.25rem;
    bottom: 1.25rem; */
    /* float: right;  */
    transition: all 0.2s ease-out;
}

.round-arrow i.fa-arrow-right,
.round-arrow i.fa-arrow-left {
    font-weight: 200;
    margin-right: 8px;
    line-height: 1.5;
    margin-right: 0 !important;
    font-weight: 600;
}

.day-names,
.month-num {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weeks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn:focus {
    box-shadow: none !important;
}

.today {
    /* background-color: aqua !important; */
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.4);
}

.event {
    font-size: 0.7em !important;
    flex-direction: column !important;
    overflow: auto !important;
}

.eve {
    padding: 0 3px 3px !important;
    margin-bottom: 4px !important;
}


.day,
.num {
    border-radius: 5px;
    margin-bottom: 18px;
    width: 13%;
    font-weight: 700;
    text-align: end;
    padding: 10px 10px 0px 0px;
}

.num span {
    /* color: #202020; */
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 25px;
}

.empty {
    background-color: none !important;
    border-radius: 5px;
    margin-bottom: 18px;
    width: 13%;
    text-align: end;
    height: 100px;
    /* padding: 60px 10px 0px 0px; */
}

span.day {
    box-shadow: 8px 13px 10px 0px rgba(0, 0, 0, 0.3);
    height: 50px;
    font-size: 20px;
}

.num {
    position: relative;
    height: 100px;
    background-color: #E0E0E0;
    padding: 5px;
}

/* Event-Plan Section  */

.event-plan {
    display: none;
    margin-top: 4%;
    position: relative;
    padding-top: 4%;
    line-height: 1.2;
    padding-left: 3% !important;
    padding-right: 3% !important;
    background-color: rgb(48, 47, 56);
    color: #F5F5F5;
}

h3.next-event {
    margin-bottom: 1rem;
}

.left-event {
    border-left: 7px solid blue;
    padding: 0 1rem;
}

.left-event h5,
.right-event h5 {
    padding-bottom: 0.5rem;
}

.right-event {
    border-left: 7px solid #ff1300;
    padding: 0 1rem;
}

.left-event-orange {
    border-left: 7px solid orange;
    padding: 0 1rem; 
}


/* Footer Section */

.section-7 {
    /* margin-top: 5%; */
    background-color: #F5F5F5;
    border-top: 2px solid #C8C8C8;
}

.footer-links {
    padding: 5rem 3rem;
}

h5 {
    padding-bottom: 1rem;
}

ul.useful-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.a-link {
    padding: 0.3rem 0;
    font-weight: 500;
}

.f-logo img {
    height: 100px;
    width: 100px;
}

.soc-icon {
    margin-right: 1.7rem;

}

.fa-facebook,
.fa-linkedin-in,
.fa-instagram {
    font-size: 2rem;
}

.fa-facebook {
    color: #4267B2;
}

.fa-linkedin-in {
    color: #0077B5;
}

.fa-instagram {
    color: #DC4288;
}

footer {
    background-color: #E0E0E0;
}

p.p-footer {
    margin: 0;
    padding: 1.7rem;
    font-weight: 600;
    font-size: 14px;
}

/* Media queries  */

@media only screen and (max-width: 1230px) {

    aside {
        margin-left: 20px;
    }

    p.p-links,
    .p-button,
    .send-btn {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1079px) {

    aside {
        margin-left: 20px;
    }

    p.p-links,
    .p-button,
    .send-btn {
        font-size: 12px;
    }

}

/* Tablet :  */
/* Mobile ans small mobile devices */

@media only screen and (max-width: 992px) {

    nav#navbar-links {
        display: none;
    }

    .navbar-menu {
        display: block;
        margin: 0;
        padding: 10px 12px;
        background-color: rgb(48, 47, 56);
        color: #fcd232;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 5px;
        position: absolute;
        right: 0;
    }

    a.nav-links {
        position: absolute;
        right: 4.5rem;
    }

    .navbar-menu span {
        vertical-align: middle;
    }

    .navbar-menu i.fa-bars {
        font-size: 16px;
        font-weight: 400;
    }


    .num {
        height: 70px;
        font-size: 25px;
        background-color: #E0E0E0;
        padding: 35px 10px 0px 0px;
    }

    .empty {
        height: 70px;
        padding: 35px 10px 0px 0px;
    }

    .left-heading>h1 {
        font-size: 45px;
    }

    /* .event-plan {
        display: none;
    } */

    /* Drop heading menu */

    header.drop-header {
        display: block;
    }

    li#last-btn {
        display: none;
    }

}

@media only screen and (max-width: 768px) {

    a.nav-links {
        display: none;
    }

    .calendar-heading {
        flex-direction: column;
    }

    .left-heading,
    .right-counter {
        margin-bottom: 1rem;
        justify-content: flex-start;
    }

    .w-days {
        display: none;
    }

    .num, .empty {
        width: 11%;
        height: 70px;
        text-align: center;
        padding: 20px;
        border-radius: 50%;
        margin: 1%;
    }

    .num span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }


    /* Drop heading burger menu */

    li#last-btn {
        display: block;
    }

    .header a.nav-links {
        display: none;
    }

}

@media only screen and (max-width: 700px) {
    .num, .empty {
        width: 11%;
        height: 60px;
        text-align: center;
        font-size: 18px;
        border-radius: 50%;
        margin: 1%;
    }
}

@media only screen and (max-width: 620px) {
    .num, .empty {
        width: 11%;
        height: 55px;
        text-align: center;
        font-size: 14px;
        border-radius: 50%;
        margin: 1%;
    }

    .calendar-heading {
        align-items: center;
    }

    .right-counter, .left-heading {
        width: unset;
    }
}

@media only screen and (max-width: 550px) {
    .num, .empty {
        width: 11%;
        height: 50px;
        text-align: center;
        font-size: 12px;
        border-radius: 50%;
        margin: 1%;
    }

    .num span {
        font-size: 16px;
    }
}

@media only screen and (max-width: 520px) {
    span.month-year {
        font-size: 20px;
    }

}

@media only screen and (max-width: 500px) {
    .num, .empty {
        width: 10%;
        height: 45%;
    }

    .num span {
        font-size: 14px;
    }
}


@media only screen and (max-width: 450px) {

    .navbar-menu {
        font-size: 12px;
        padding: 8px 10px;
    }

}

@media only screen and (max-width: 380px) {
    .num span {
        font-size: 12px;
    }

    .num, .empty {
        width: 5%;
        height: 30px;
    }

    .month-num {
        flex-wrap: unset;
    }

    .weeks {
        display: unset;
        justify-content: unset;
    }

    .round-arrow {
        border: none !important;
    }

    span.month-year {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

@media only screen and (max-width: 280px) {
    .num span {
        font-size: 10px;
    }
}