
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    vertical-align: baseline;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

figure {
    margin-bottom: 0 !important;
}

a {
    cursor: pointer;
    color: rgb(48, 47, 56) !important;
    transition: all 0.1s ease 0s;
}

a:hover {
    text-decoration: none !important;
}

header {
    position: relative;
    width: 100%;
    height: 115px;
}

.header {
    position: relative;
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav#navbar-links,
aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    margin-left: 40px;
}

a.nav-links {
    display: block;
}

p.p-links {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 3px;
}

p.p-links::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fcd232;
    transform: scale(0);
    transform-origin: right center;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

p.p-links:hover::before {
    transform: scale(1); 
    transform-origin: left center; 
}

.p-button,
.send-btn {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 12px 18px;
    background-color: rgb(48, 47, 56) !important;
    color: #fcd232 !important;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

i.fa-plus,
i.fa-arrow-right {
    font-weight: 200;
    margin-right: 8px;
    line-height: 1.5;
}

/* Burger menu  */

.navbar-menu {
    display: none;
}

/* Drop Header Menu  */

header.drop-header {
    display: none;
    text-align: center;
    height: auto;
    background-color: #202020;
}

ul.drop-nav-menu {
    list-style: none;
    margin-bottom: 0;
    padding: 2%;
}

ul.drop-nav-menu li {
    margin: 2rem;
}


.drop-links>.d-links {
    font-weight: bold;
    font-size: 16px !important;
    padding: 3px;
    color: #F5F5F5;
}

p.d-links {
    display: inline-block;
    margin-bottom: 0;
}

.d-links:active {
    border-bottom: 2px solid #fcd232;
    margin-bottom: -2px;
}

.drop-p-button {
    display: inline-block;
    background-color: #fcd232;
    color: #202020;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 12px 18px;
    border-radius: 5px;
}

.drop-p-button i {
    font-weight: 600;
}

/* Modal  */

.modal-dialog {
    max-width: 650px !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-header>h4 {
    font-weight: bold;
}

.modal-body label {
    font-size: 14px;
    font-weight: 800;
}

.form-group {
    position: relative;
}

.close {
    opacity: 1 !important;
}

.close:hover {
    opacity: 0.5 !important;
}

small {
    color: #ff1300;
    position: absolute;
    right: 0;
}

.off-btn {
    font-weight: bold !important;
    margin-right: 1rem;
}

.off-btn,
.send-btn {
    float: right;
}

/* .bg-img-1 {
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/images/Za_Nas/roundtable-828546_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

h1.h1-big {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    white-space: nowrap;
} */

.video-background-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 0.5;
}

/* for responsive, change into width:auto height:100vh  */
.video-wrapper video {
    pointer-events: none;
}

.content-text {
    z-index: 2;
    text-align: center;
}

.content-text h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    white-space: nowrap;
}

/* Video has resolution 1920 / 1080 and that is 16 / 9 */
@media only screen and (min-aspect-ratio: 16/9) {
    .video-wrapper video {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-aspect-ratio: 16/9) {
    .video-wrapper video {
        width: auto;
        height: 100vh;
    }
}


h2.h2-txt {
    font-size: 40px;
    font-weight: bold;
    padding: 4rem 2rem 2rem 2rem;
}

a.a-card {
    height: 100%;
    display: block;
    transition: all 0.2s ease-out;
    overflow: hidden;
    border-radius: .25rem;
    overflow: hidden;
    z-index: 2;
}

div.card-footer {
    background-color: inherit;
    border-top: none;
    padding: 1.25rem;
}

a.a-card:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
    /* box-shadow: 0px 6px 20px 5px rgba(0,0,0,0.75); */
}

.zoom-img {
    transition: all 0.2s ease-out;
}

.zoom-img:hover {
    transform: scale(1.1);
}

.card:hover {
    background-color: #202020;
    color: white;
}

.card:hover h5.card-title {
    color: #fcd232;
}

.round-arrow {
    line-height: 1.5 !important;
    border-radius: 50% !important;
    padding: 0.40rem 0.80rem !important;
    border: 2px solid rgb(48, 47, 56) !important;
    float: right;
    transition: all 0.2s ease-out;
}

.round-arrow i {
    margin-right: 0 !important;
    font-weight: 600;
}

.card:hover .round-arrow {
    color: white;
    border: 2px solid white !important;
}

.round-arrow:hover {
    color: #fcd232 !important;
    transform: scale(1.1);
}

.card p {
    line-height: 1.2 !important;
}

.section-2,
.section-4,
.section-5,
.section-6 {
    padding-top: 5%;
    padding-bottom: 2%;
    line-height: 1.2;
}

.col-lg-4,
.col-md-6,
.col-sm-12,
.col-xs-12 {
    margin-bottom: 30px;
}

.edu-text h2,
.coo-text h2,
.eve-text h2 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.edu-text p.academies, 
.edu-text h2.academies,
.img-edu img.academies,
.img-coo img.cooworking,
.img-eve img.events {
    display: block;
    border-radius: 10px !important;
    animation-name: zoom;
    animation-duration: 2s;
}

/* za vtorata opcija za Kompanii  */

.edu-text p.companies,
.edu-text h2.companies,
.img-edu img.companies {
    display: none;
    border-radius: 10px !important;
    animation-name: zoom;
    animation-duration: 2s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.edu-text p,
.coo-text p,
.eve-text p {
    padding-bottom: 1rem;
}

.btn-edu-left,
.btn-edu-right,
.btn-coo,
.btn-eve {
    padding: 10px 32px !important;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.btn-edu-left,
.btn-coo,
.btn-eve {
    color: #fcd232 !important;
    background-color: rgb(48, 47, 56) !important;
    transition: all 0.2s ease-out !important;
}

.btn-edu-right {
    color: rgb(48, 47, 56) !important;
    background-color: #fcd232 !important;
    margin-left: 1rem;
    transition: all 0.2s ease-out !important;
}

.btn-edu-left:hover,
.btn-edu-right:hover,
.btn-coo:hover,
.btn-eve:hover,
a.p-button:hover {
    transform: scale(1.05);
    box-shadow: 10px 15px 15px -7px rgba(0, 0, 0, 0.66);
}

a.p-button {
    padding: 12px 18px;
    float: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.2s ease-out;
}

button.rounded-btn {
    display: none;
    font-weight: 800;
    font-size: 14px;
    padding: 8px 16px;
    background-color: #fcd232;
    color: #202020;
    border: none;
    border-radius: 16px;
}

h4.partner {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

p.p-message {
    display: none;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 800;
    color: #202020;
    text-shadow: 0px 3px 3px #fcd232;
}

/* Footer section */

.section-7 {
    margin-top: 5%;
    background-color: #F5F5F5;
    border-top: 2px solid #C8C8C8;
}

.footer-links {
    padding: 5rem 3rem;
}

h5 {
    padding-bottom: 1rem;
}

ul.useful-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.a-link {
    padding: 0.3rem 0;
    font-weight: 500;
}

.f-logo img {
    height: 100px;
    width: 100px;
}

.soc-icon {
    margin-right: 1.7rem;

}

.fa-facebook,
.fa-linkedin-in,
.fa-instagram {
    font-size: 2rem;
}

.fa-facebook {
    color: #4267B2;
}

.fa-linkedin-in {
    color: #0077B5;
}

.fa-instagram {
    color: #DC4288;
}

footer {
    background-color: #E0E0E0;
}

p.p-footer {
    margin: 0;
    padding: 1.7rem;
    font-weight: 600;
    font-size: 14px;
}

/* Media queries  */

@media only screen and (max-width: 1230px) {
    aside {
        margin-left: 20px;
    }

    p.p-links,
    .p-button,
    .send-btn {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1079px) {
    aside {
        margin-left: 20px;
    }

    p.p-links,
    .p-button,
    .send-btn {
        font-size: 12px;
    }

    h1.video-title {
        font-size: 40px;
    }

}

/* Tablet :  */
/* Mobile ans small mobile devices */

@media only screen and (max-width: 992px) {
    nav#navbar-links {
        display: none;
    }

    .navbar-menu {
        display: block;
        margin: 0;
        padding: 10px 12px;
        background-color: rgb(48, 47, 56);
        color: #fcd232;
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 5px;
        position: absolute;
        right: 0;
    }

    a.nav-links {
        position: absolute;
        right: 4.5rem;
    }

    .navbar-menu span {
        vertical-align: middle;
    }

    .navbar-menu i.fa-bars {
        font-size: 16px;
        font-weight: 400;
    }

    h1.video-title {
        font-size: 40px;
    }

    .row-coworking {
        flex-direction: column-reverse;
    }

    /* Drop heading burger menu */

    li#last-btn {
        display: none;
    }

}


@media only screen and (max-width: 768px) {
    /* Drop heading burger menu */
    li#last-btn {
        display: block;
    }

    .header a.nav-links {
        display: none;
    }

    h1.video-title {
        white-space: normal;
    }
}

@media only screen and (max-width: 575px) {
    h1.video-title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 450px) {
    
    .p-button {
        padding: 8px 10px;
        font-size: 12px;
    }

    .navbar-menu {
        font-size: 12px;
        padding: 8px 10px;
    }

    a.nav-links {
        position: absolute;
        right: 3rem;
    }

    .btn-edu-left,
    .btn-edu-right {
        font-size: 12px !important;
        margin-bottom: 8px;
    }

    .btn-edu-right {
        margin-left: 0;
    }

    .btn-eve {
        padding: 8px 20px !important;
    }

    label {
        margin-bottom: 1rem !important;
    }

    small {
        top: 20px;
    }

}